@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Analytics;
@using System.Net.Mail;
@using System.Text;
@using Sitecore;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=no, IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <title>Sitecore Hackathon 2020 | @Sitecore.Context.Item.Name</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    @Html.Sitecore().VisitorIdentification()
    <link href="~/assets/css/style.css" rel="stylesheet">
  
    
</head>

<body>
    <div id="parentContainer">
        @Html.Sitecore().Placeholder("ph-Top")
        @Html.Sitecore().DynamicPlaceholder("ph-Center")
        @Html.Sitecore().Placeholder("ph-Bottom")
    </div>
    <script src="~/assets/js/main.js"></script>
   

</body>
</html>